<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/main.css">

    <title>Feature Toggler Config Editor</title>
  </head>
  <!-- <body class="bg-light mt-5"> -->
  <body class="w-50 mx-auto bg-light mt-5 pb-5">

    <h1>Create Feature Toggler Config</h1>

    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="container">

        <h2 class="mb-3">General Options</h2>

        <div class="row mb-3">

          {{ form.feature_name.label(class="col-4 col-form-label") }}

          <div class="col-8">

            {{ form.feature_name(class="form-control") }}

          </div>
        </div>

        <div class="row mb-3">
          <label class="col-4 col-form-label" for="feature-status">Feature status</label>
          <div class="col-8" id="feature-status">
            <div class="form-check form-switch">

              {{ form.enabled.label(class="form-check-label") }}
              {{ form.enabled(class="form-check-input") }}

            </div>
            <div class="form-check form-switch">

              {{ form.is_active.label(class="form-check-label") }}
              {{ form.is_active(class="form-check-input") }}

            </div>
          </div>
        </div>

        <div class="row mb-3">

          {{ form.distribution_event.label(class="col-4 col-from-label") }}

          <div class="col-8">

            {{ form.distribution_event(class="form-control") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_always_enabled_for_ids(class="form-check-input") }}
              {{ form.use_always_enabled_for_ids.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="always_enabled_for_ids_wrapper" >

            {{ form.always_enabled_for_ids(class="form-control", rows="2", placeholder="Enter IDs here...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_first_install(class="form-check-input") }}
              {{ form.use_first_install.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="first_install_wrapper">

            {{ form.first_install(class="form-control") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_minimal_app_version(class="form-check-input") }}
              {{ form.use_minimal_app_version.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="minimal_app_version_wrapper">

            {{ form.minimal_app_version(class="form-control") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_region(class="form-check-input") }}
              {{ form.use_region.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="region_wrapper">

            {{ form.region(class="form-select") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_store(class="form-check-input") }}
              {{ form.use_store.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="store_wrapper">
            <p>Include:</p>

            {{ form.included_stores(class="form-control mb-3", rows="2", placeholder="Enter store package IDs to include...") }}

            <p>Exclude:</p>

            {{ form.excluded_stores(class="form-control mb-3", rows="2", placeholder="Enter store package IDs to exclude...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_price_groups(class="form-check-input") }}
              {{ form.use_price_groups.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="price_groups_wrapper">

            {{ form.price_groups(class="form-control", rows="2", placeholder="Enter price groups here...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_purchases_status(class="form-check-input") }}
              {{ form.use_purchases_status.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-8" id="purchases_status_wrapper">
            <div class="form-check form-switch">

              {{ form.active_subscription(class="form-check-input") }}
              {{ form.active_subscription.label(class="form-check-label") }}

            </div>
            <div class="form-check form-switch">

              {{ form.active_minutes(class="form-check-input") }}
              {{ form.active_minutes.label(class="form-check-label") }}

            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_license_status(class="form-check-input") }}
              {{ form.use_license_status.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-8" id="license_status_wrapper">
            <div class="form-check form-switch">

              {{ form.license_status(class="form-check-input") }}
              {{ form.license_status.label(class="form-check-label") }}

            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_ipc(class="form-check-input") }}
              {{ form.use_ipc.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="ipc_wrapper">

            {{ form.ipc(class="form-control", rows="2", placeholder="Enter IPs to include...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_excluded_ipc(class="form-check-input") }}
              {{ form.use_excluded_ipc.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="excluded_ipc_wrapper">

            {{ form.excluded_ipc(class="form-control", rows="2", placeholder="Enter IPCs to exclude...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_mcc(class="form-check-input") }}
              {{ form.use_mcc.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="mcc_wrapper">

            {{ form.mcc(class="form-control", rows="2", placeholder="Enter MCCs to include...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_excluded_mcc(class="form-check-input") }}
              {{ form.use_excluded_mcc.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="excluded_mcc_wrapper">

            {{ form.excluded_mcc(class="form-control", rows="2", placeholder="Enter MCCs to exclude...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_locales(class="form-check-input") }}
              {{ form.use_locales.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="locales_wrapper">

            {{ form.locales(class="form-control", rows="2", placeholder="Enter locales to include...") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">

              {{ form.use_excluded_locales(class="form-check-input") }}
              {{ form.use_excluded_locales.label(class="form-check-label") }}

            </div>
          </div>
          <div class="d-none col-5" id="excluded_locales_wrapper">

            {{ form.excluded_locales(class="form-control", rows="2", placeholder="Enter locales to exclude...") }}

          </div>
        </div>

        <hr>

        <h2 class="mb-3">Distribution Options</h2>

        <div class="row mb-3">

          {{ form.hash_type.label(class="col-4 col-from-label") }}

          <div class="col-5">

            {{ form.hash_type(class="form-select") }}

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4"></div>
          <div class="col-5">
            <div class="form-check form-switch">

              {{ form.use_uid.label(class="form-check-label") }}
              {{ form.use_uid(class="form-check-input") }}

            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-4 col-form-label" for="salt-label">Salt</label>
          <div class="col-5" id="salt-label">

            {{ form.salt(class="form-control") }}

          </div>
        </div>

        <div class="row mb-3">
          <label class="col-4 col-from-label" for="remainder-number-label">Modulus (divisor)</label>
          <div class="col-5" id="remainder-number-label">

            {{ form.remainder_number(class="form-control", value=100) }}

          </div>
        </div>

        <hr>

        <h2 class="mb-3">Group Options</h2>

        <div class="row mb-3">
          <label class="col-4 col-form-label" for="add-groups-wrapper">Add groups</label>

          <div class="col-8" id="add-groups-wrapper">
            <div class="input-group mb-3 experiment-group" id="group-0">

              <span class="input-group-text">Name</span>
              <input class="form-control" type="text">

              <span class="input-group-text">From</span>
              <input class="form-control" type="text">

              <span class="input-group-text">To</span>
              <input class="form-control" type="text">

              <button class="btn btn-danger delete-group-btn" id="delete-group-0-btn" disabled>⨉</button>

            </div>

            <div class="input-group mb-3 experiment-group" id="group-1">
              <span class="input-group-text">Name</span>
              <input class="form-control" type="text">

              <span class="input-group-text">From</span>
              <input class="form-control" type="text">

              <span class="input-group-text">To</span>
              <input class="form-control" type="text">

              <button class="btn btn-danger delete-group-btn" id="delete-group-1-btn">⨉</button>
            </div>

            <button class="btn btn-outline-secondary" type="button" id="add-group-btn">Add</button>
          </div>

        </div>

        <hr>

        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </div>
    </form>

		<!-- jQuery and Bootstrap JS -->
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<!-- <script src="../static/js/bootstrap.bundle.min.js"></script> -->
		<script src="../static/js/main.js"></script>
  </body>
</html>