<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/main.css">

    <title>Feature Toggler Config Editor</title>
  </head>
  <body class="bg-light mt-5">

    <h1>Create Feature Toggler Config</h1>

    <form method="POST" action="">
      <div class="container">

        <h2 class="mb-3">General Options</h2>

        <div class="row mb-3">
          <label class="col-4 col-from-label" for="feature">Feature name</label>
          <div class="col-8">
            <input class="form-control" type="text" id="feature">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-4 col-form-label" for="feature-status">Feature status</label>
          <div class="col-8" id="feature-status">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="enabled">
              <label class="form-check-label" for="enabled">Enabled</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="is-active">
              <label class="form-check-label" for="is-active">Active</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-4 col-from-label" for="distribution-event">Distribution action</label>
          <div class="col-8">
            <input class="form-control" type="text" id="distribution-event">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-always-active-for-ids">
              <label class="form-check-label" for="use-always-active-for-ids">Always active for specific user IDs</label>
            </div>
          </div>
          <div class="d-none col-5" id="always-active-for-ids-wrapper" >
            <textarea class="form-control" rows="2" placeholder="Enter IDs here..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-first-install">
              <label class="from-check-label" for="use-first-install">First install version</label>
            </div>
          </div>
          <div class="d-none col-5" id="first-install-wrapper">
            <input class="form-control" type="text">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-minimal-app-version">
              <label class="form-check-label" for="use-minimal-app-version">Minimal app version</label>
            </div>
          </div>
          <div class="d-none col-5" id="minimal-app-version-wrapper">
            <input class="form-control" type="text">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-region">
              <label class="form-check-label" for="use-region">Region</label>
            </div>
          </div>
          <div class="d-none col-5" id="region-wrapper">
            <select class="form-select" name="region">
              <option value="global">global</option>
              <option value="ru">ru</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-store">
              <label class="form-check-label" for="use-store">Store</label>
            </div>
          </div>
          <div class="d-none col-5" id="store-wrapper">
            <p>Include:</p>
            <textarea class="form-control mb-3" rows="2" placeholder="Enter store package IDs to include..."></textarea>
            <p>Exclude:</p>
            <textarea class="form-control mb-3" rows="2" placeholder="Enter store package IDs to exclude..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-price-groups">
              <label class="form-check-label" for="use-price-groups">Price groups</label>
            </div>
          </div>
          <div class="d-none col-5" id="price-groups-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter price groups here..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-purchases-status">
              <label class="form-check-label" for="use-purchases-status">Purchases status</label>
            </div>
          </div>
          <div class="d-none col-8" id="purchases-status-wrapper">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="subscriptions">
              <label class="form-check-label" for="subscriptions">Subscription</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="minutes">
              <label class="form-check-label" for="minutes">Minutes</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-license-status">
              <label class="form-check-label" for="use-license-status">License accept status</label>
            </div>
          </div>
          <div class="d-none col-8" id="license-status-wrapper">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="license">
              <label class="form-check-label" for="license">License accepted</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-ipc">
              <label class="form-check-label" for="use-ipc">Include IPCs</label>
            </div>
          </div>
          <div class="d-none col-5" id="ipc-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter IPs to include..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-excluded-ipc">
              <label class="form-check-label" for="use-excluded-ipc">Exclude IPCs</label>
            </div>
          </div>
          <div class="d-none col-5" id="excluded-ipc-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter IPCs to exclude..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-mcc">
              <label class="form-check-label" for="use-mcc">Include MCCs</label>
            </div>
          </div>
          <div class="d-none col-5" id="mcc-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter MCCs to include..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-excluded-mcc">
              <label class="form-check-label" for="use-excluded-mcc">Exclude MCCs</label>
            </div>
          </div>
          <div class="d-none col-5" id="excluded-mcc-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter MCCs to exclude..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-locales">
              <label class="form-check-label" for="use-locales">Include locales</label>
            </div>
          </div>
          <div class="d-none col-5" id="locales-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter locales to include..."></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="use-excluded-locales">
              <label class="form-check-label" for="use-excluded-locales">Exclude locales</label>
            </div>
          </div>
          <div class="d-none col-5" id="excluded-locales-wrapper">
            <textarea class="form-control" rows="2" placeholder="Enter locales to exclude..."></textarea>
          </div>
        </div>

        <hr>

        <h2>Distribution Options</h2>

        <hr>

        <h2>Group Options</h2>

        <hr>

        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </div>
    </form>

		<!-- jQuery and Bootstrap JS -->
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<script src="../static/js/bootstrap.bundle.min.js"></script>
		<script src="../static/js/main.js"></script>
  </body>
</html>