<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="../static/css/main.css">

		<title>tmp doc</title>
	</head>
	<body>
		<div class="ml-5 mt-5">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="use-first-install" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
          <label class="from-check-label" for="use-first-install">First install version</label>
        </div>
			</div>
			<div class="collapse" id="collapseExample">
				<div class="card card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				</div>
			</div>
		</div>

		<!-- jQuery and Bootstrap JS -->
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<script src="../static/js/bootstrap.bundle.min.js"></script>
	</body>
</html>